//@import '~bootstrap-sass/assets/stylesheets/bootstrap'
@import 'main.sass'
*
	box-sizing: border-box

a
	text-decoration: none
	color: #989898
	padding: 0 10px

body
	font-family: "Varela Round"
	color: #989898
	font-size: 25px
	+media-breakpoint-down(md)
		width: 200px
		margin: 0 auto


.container
	// width: 100%
	margin: 0 auto
	position: relative
	overflow: hidden
	padding-top: 65px

header,
footer
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	z-index: 1000

header
	background: #e8e8e8f0
	//background: radial-gradient(85em 6em at bottom, #ffffff00 32%, black 86%)
	position: fixed
	height: 65px
	flex-direction: row
	top: 0  // ** position the top  edge of the element at the middle of the parent
	left: 50% // ** position the left edge of the element at the middle of the parent
	transform: translate(-50%, 0)

footer
	background: #414141
	bottom: 0px
	height: auto
	padding: 30px 0
	flex-direction: column

header div,
footer div
	display: flex
	flex-direction: row
	align-items: center
	width: auto

header div a,
footer div a
	transition: color .3s

header div a:hover,
footer div a:hover
	color: #da5b5bde
	transition: color .3s

#global-logo
	position: absolute
	top: 50%
	left: 10%
	transform: translate(-50%, -50%)

#global-logo img
	width: 25px
	height: auto

#global-logo_footer
	position: relative
	top: 3px
	background: #282727
	border-radius: 3663px
	padding: 48px
	width: 80px
	height: 80px

#global-logo_footer img
	width: 40px
	height: auto

.centred
	display: flex
	justify-content: center
	align-items: center

#link
	p
		color: black
		cursor: default
		padding: 0 10px

.content
	margin: 0 auto
	text-align: center
	width: 100%
	opacity: 0
	transition: all .4s
	.preview
		width: 100%
		height: 700px
	h1
		font-family: 'Play', sans-serif
		//font-family: 'Comfortaa', cursive
	p
		//font-family: 'Open Sans Condensed', sans-serif
		//font-family: 'Pacifico', cursive
		font-family: 'Play', sans-serif
		line-height: 3px
		color: #b9b9b9

em
	color: #e2cd79
	font-family: 'Play', sans-serif
	font-style: normal
