{% block globalInclude %}
<header>
    <div id="global-logo" class="centred">
        <img src="http://detectfire.info/public/frontend/img/fire.png" alt="">
    </div>
    {% block menu %}
        <div>
            <a href="">home</a>
            <a href="">blog</a>
            <a href="">news</a>
            <a href="">galery</a>
        </div>
    {% endblock %}
</header>
{% endblock %}
