{% block globalInclude %}
<header>
    <div id="global-logo" class="centred">
        <img src="http://detectfire.info/public/frontend/img/fire.png" alt="">
    </div>
    {% block menu %}
        <div>
            <a href="{{ path('home') }}">home</a>
            <a href="{{ path('news') }}">news</a>
        </div>
    {% endblock %}
</header>
{% endblock %}
